:root {
    --trot: 15s;
}

.contact, .rotate {
    position: absolute;
    left: 50%;
    top: 40vh;
    transform: translate(-50%,-50%);
    width: max-content;
}

.rotate {
    width: 100vw;
    height: 100vh;
    max-width: 100vh;
    max-height: 100vw;
    aspect-ratio: 1/1;
    display: grid;
    animation: var(--trot) linear infinite rotation;
    transform-origin: center;
    justify-items: center;
    align-items: center;
    pointer-events: none;
}
.rotate div {
    animation: var(--trot) linear infinite conterRotation;
    transform-origin: center;
    width: max-content;
    height: max-content;
    pointer-events: all;
}
#mail {
    grid-row: 1;
    grid-column: 2;
}
#tel {
    grid-row: 3;
    grid-column: 2;
}
#insta {
    grid-row: 2;
    grid-column: 1;
}
#github {
    grid-row: 2;
    grid-column: 3;
}

@keyframes rotation {
    0% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
@keyframes conterRotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
.rotate img, .rotate svg {
    position: relative;
    width: 100px;
    height: 100px;
}

.st0 {
    color: var(--3);
    fill: currentColor;
}
.body {
    overflow: hidden;
}