body,html {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    perspective: 1000px;
    height: 100vh;
}

* {
    cursor: none;
    transition: color 0.15s, background-color 0.15s;
}

nav {
    position: relative;
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    color: var(--1);
    background-color: var(--2);
    z-index: 10;
    border-bottom: 1px solid var(--3);
}

.left {
    width: 40%;
    display: flex;
    justify-content: center;
}

.right {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.body {
    position: fixed;
    height: 90vh;
    width: 100vw;
    top: 10vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: var(--2);
    color: var(--3);
}

.body::-webkit-scrollbar {
    display: none;
}

#mouse, #mouselerp {
    pointer-events: none;
    color: var(--3);
    aspect-ratio: 1/1;
}

#mouse {
    height: 10px;
    border-radius: 50%;
    background-color: currentColor;
    z-index: 5555556;
    transition: 0.05s linear;
    position: fixed;
    transform: translate(-50%,-50%);
}

#mouselerp {
    height: 30px;
    border-radius: 50%;
    z-index: 5555556;
    transition: 0.15s linear;
    position: fixed;
    border: 5px solid currentColor;
    transform: translate(-50%,-50%);
}

nav button {
    background-color: var(--2);
    color: var(--3);
    border: 1px solid currentColor;
    padding: 5px 10px;
    border-radius: 8888888px;

}

.clickCircle {
    position: absolute;
    opacity: 0.5;
    width: 0px;
    height: 0px;
    transition: width linear 0.5s,height linear 0.5s,opacity linear 0.5s;
    transform: translate(-50%, -50%);
    background-color: var(--3);
    border-radius: 100%;
    z-index: 5555;
}

.transitionPage {
    position: fixed;
    z-index: 9;
    height: 90vh;
    width: 100vw;
    top: 10vh;
    color: var(--3);
    background-color: var(--2);
    height: 90vh;
    overflow: hidden;
    transform-origin: top;
    transform: rotateX(90deg);
    z-index: 8;
}