:root {
    --bcp: #244;
    --cp: #fde;
    --cars: 2em;
}

.projetSec {
    width: 100%;
    height: 90vh;
    background-color: var(--bcp);
    color: var(--cp);
}
.projetSec .titre {
    position: relative;
    width: calc(100vw - 4px);
    background-color: var(--cp);
    color: var(--bcp);
    text-align: center;
    padding: 1em;
    margin: 0px;
    text-decoration: underline solid currentColor;
    font-size: 2em;
    position: sticky;
    top: 0px;
    z-index: 2;
}


.projet {
    width: 500px;
    transform: translate(50px,50px);
    aspect-ratio: 160/99;
    box-shadow: 0px 0px 0px 2px currentColor;
    transition: 0.25s ease-in-out;
}
.projet:hover {
    box-shadow: 0px 0px 0px 5px currentColor;
}
.projet .caroselle {
    position: relative;
    width: 100%;
    height: 10%;
    top: 100%;
    transform: translateY(-100%);
    overflow: hidden;
    display: flex;
    background-color: var(--cp);
}
.projet .caroselle div {
    width: max-content;
    position: relative;
    animation: 15s car linear infinite;
    display: flex;
    align-items: center;
}
.projet .caroselle div p {
    color: var(--bcp);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: var(--cars);
    white-space : nowrap;
}
@keyframes car {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
#subPage {
    position: absolute;
    height: 90vh;
    width: 100vw;
    top: 10vh;
    left: 100vw;
    transition: 0.25s ease-in-out;
    z-index: 2;
    background-color: var(--cp);
    color: var(--bcp);
}