:root {
    --bcp: var(--2);
    --cp: var(--3);
    --cars: 2em;
}

.projetSec {
    width: 100%;
    min-height: 90vh;
    background-color: var(--bcp);
    color: var(--cp);
    padding-bottom: 50px;
}
.projetSec .titre {
    position: relative;
    width: 100vw;
    background-color: var(--bcp);
    color: var(--cp);
    text-align: center;
    font-size: 2em;
    position: sticky;
    top: 0px;
    z-index: 2;
}
.projetSec .titre h1 {
    padding: 0.5em;
    margin: 0px 10vw 0px 10vw;
    border-bottom: 5px solid currentColor;
    border-radius: 2px;
}


.projet {
    z-index: 1;
    overflow: hidden;
    width: 500px;
    margin-top: 100px;
    aspect-ratio: 160/103;
    background-color: var(--3);
    box-shadow: 0px 0px 0px 2px currentColor;
    transition: box-shadow 0.25s ease-in-out;
}
.projet:hover {
    box-shadow: 0px 0px 0px 5px currentColor;
}
.projet .caroselle {
    position: relative;
    width: 100%;
    height: 10%;
    overflow: hidden;
    display: flex;
    background-color: var(--cp);
}
.projet .caroselle div {
    width: max-content;
    position: relative;
    animation: 15s car linear infinite;
    display: flex;
    align-items: center;
}
.projet .caroselle div p {
    color: var(--bcp);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: var(--cars);
    white-space : nowrap;
}
@keyframes car {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
#subPage {
    position: absolute;
    overflow: hidden;
    overflow-y: scroll;
    height: 90vh;
    width: 100vw;
    left: 100vw;
    transition: 0.25s left ease-in-out;
    z-index: 8;
    background-color: var(--bcp);
    color: var(--cp);
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#subPage::-webkit-scrollbar {
    display: none;
}

.projetVid {
    width: 100vw;
    max-width: calc(16 * calc(90vh / 9));
    aspect-ratio: 160/99;
    margin-left: auto;
    margin-right: auto;
}
.projetVid h2 {
    position: relative;
    width: max-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 4em;
    margin: 0px;
    padding: 0px;
}
.projetVid iframe , .projet iframe {
    position: relative;
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: 2;
}
.projet iframe {
    width: 100%;
    height: max-content;
    aspect-ratio: 16/9;
}
.algo img{
    position: relative;
    width: 100%;
    height: 100%;
}
.description {
    padding: 50px;
    font-size: 1.5em;
}
.technologie {
    display: flex;
    justify-content: center;
    align-items: center;
}
.technologie ul {
    margin-bottom: 50px;
}
.technologie ul li {
    margin-top: 50px;
    border: 1px solid currentColor;
    padding: 10px;
    text-align: center;
    border-radius: 50000px;
    list-style-type: none;
}
#retour {
    position: fixed;
    top: 15vh;
    left: 5vw;
    border: 1px solid currentColor;
    border-radius: 50000px;
    padding: 20px;
    background-color: var(--2);
    color: var(--3);
    z-index: 3;
    animation: retour 0.25s ease-in-out;
}
@keyframes retour {
    0% {
        left: 105vw;
    }
    100% {
        left: 5vw;
    }
}

.page {
    position: absolute;
    height: 90vh;
    width: 100vw;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.page::-webkit-scrollbar {
    display: none;
}

.projetSec > :nth-child(2){
    position: relative;
    left: 5vw;
}
.projetSec > :nth-child(3){
    position: relative;
    left: 95vw;
    transform: translateX(-100%) translateY(calc(-100% - 100px));
}
.projetSec > :nth-child(4){
    position: relative;
    left: 50vw;
    transform: translateX(-50%) translateY(calc(-100% - 100px));
}