:root {
    --bcp: var(--2);
    --cp: var(--3);
    --cars: 2em;
}

.projetSec {
    width: 100%;
    height: 90vh;
    background-color: var(--bcp);
    color: var(--cp);
}
.projetSec .titre {
    position: relative;
    width: calc(100vw - 4px);
    background-color: var(--cp);
    color: var(--bcp);
    text-align: center;
    padding: 1em;
    margin: 0px;
    text-decoration: underline solid currentColor;
    font-size: 2em;
    position: sticky;
    top: 0px;
    z-index: 2;
}


.projet {
    width: 500px;
    transform: translate(50px,50px);
    aspect-ratio: 160/99;
    box-shadow: 0px 0px 0px 2px currentColor;
    transition: 0.25s ease-in-out;
}
.projet:hover {
    box-shadow: 0px 0px 0px 5px currentColor;
}
.projet .caroselle {
    position: relative;
    width: 100%;
    height: 10%;
    top: 100%;
    transform: translateY(-100%);
    overflow: hidden;
    display: flex;
    background-color: var(--cp);
}
.projet .caroselle div {
    width: max-content;
    position: relative;
    animation: 15s car linear infinite;
    display: flex;
    align-items: center;
}
.projet .caroselle div p {
    color: var(--bcp);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: var(--cars);
    white-space : nowrap;
}
@keyframes car {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
#subPage {
    position: absolute;
    overflow: hidden;
    overflow-y: scroll;
    height: 90vh;
    width: 100vw;
    top: 10vh;
    left: 100vw;
    transition: 0.25s left ease-in-out;
    z-index: 2;
    background-color: var(--cp);
    color: var(--bcp);
    -ms-overflow-style: none;
    scrollbar-width: none;
}
#subPage::-webkit-scrollbar {
    display: none;
}

.projetVid {
    width: 100vw;
    max-width: calc(16 * calc(90vh / 9));
    aspect-ratio: 16/9;
    margin-left: auto;
    margin-right: auto;
}
.projetVid h2 {
    position: relative;
    width: max-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 4em;
    margin: 0px;
    padding: 0px;
}
.projetVid iframe {
    position: relative;
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: 2;
}
.description {
    padding: 50px;
    font-size: 1.5em;
}
.technologie {
    display: flex;
    justify-content: center;
    align-items: center;
}
.technologie ul {
    margin-bottom: 50px;
}
.technologie ul li {
    margin-top: 50px;
    border: 1px solid currentColor;
    padding: 10px;
    text-align: center;
    border-radius: 50000px;
    list-style-type: none;
}
#retour {
    position: fixed;
    top: 15vh;
    left: 5vw;
    border: 1px solid currentColor;
    border-radius: 50000px;
    padding: 20px;
    background-color: var(--3);
    color: var(--2);
    z-index: 3;
    transition: left 0.25s ease-in-out;
}